:root {
    // Primary
    --color-analog-primary-white: rgba(255, 255, 255, 1);
    --color-analog-primary-black: rgba(21, 26, 32, 1);
    --color-black: rgba(0, 0, 0, 1);
    // Analog Secondary
    --color-analog-secondary-blue: rgba(65, 149, 196, 1);
    --color-analog-secondary-turquoise: rgba(62, 183, 172, 1);
    --color-analog-secondary-green: rgba(90, 163, 97, 1);
    --color-analog-secondary-yellow: rgba(255, 215, 46, 1);
    --color-analog-secondary-cream: rgba(229, 199, 163, 1);
    --color-analog-secondary-orange: rgba(234, 117, 52, 1);
    --color-analog-secondary-red: rgba(213, 58, 44, 1);
    --color-analog-secondary-purple: rgba(129, 109, 168, 1);
    --color-analog-secondary-gray: rgba(95, 95, 107, 1);
    // Analog Tertiary
    --color-analog-tertiary-blue: rgba(143, 210, 234, 1);
    --color-analog-tertiary-turquoise: rgba(154, 232, 218, 1);
    --color-analog-tertiary-green: rgba(177, 216, 163, 1);
    --color-analog-tertiary-yellow: rgba(255, 235, 151, 1);
    --color-analog-tertiary-cream: rgba(255, 230, 210, 1);
    --color-analog-tertiary-orange: rgba(255, 170, 136, 1);
    --color-analog-tertiary-red: rgba(239, 114, 108, 1);
    --color-analog-tertiary-purple: rgba(210, 190, 237, 1);
    --color-analog-tertiary-gray: rgba(188, 188, 204, 1);
    // Highkey Secondary
    --color-highkey-secondary-blue: rgba(0, 179, 234, 1);
    --color-highkey-secondary-turquoise: rgba(0, 221, 190, 1);
    --color-highkey-secondary-green: rgba(37, 160, 43, 1);
    --color-highkey-secondary-yellow: rgba(255, 236, 0, 1);
    --color-highkey-secondary-cream: rgba(255, 206, 153, 1);
    --color-highkey-secondary-orange: rgba(255, 101, 16, 1);
    --color-highkey-secondary-red: rgba(255, 20, 78, 1);
    --color-highkey-secondary-purple: rgba(122, 92, 214, 1);
    --color-highkey-secondary-gray: rgba(95, 95, 107, 1);
    // Highkey Tertiary
    --color-highkey-tertiary-blue: rgba(174, 224, 237, 1);
    --color-highkey-tertiary-turquoise: rgba(154, 232, 218, 1);
    --color-highkey-tertiary-green: rgba(177, 216, 163, 1);
    --color-highkey-tertiary-yellow: rgba(255, 235, 151, 1);
    --color-highkey-tertiary-cream: rgba(255, 230, 210, 1);
    --color-highkey-tertiary-orange: rgba(255, 170, 136, 1);
    --color-highkey-tertiary-red: rgba(239, 114, 108, 1);
    --color-highkey-tertiary-purple: rgba(210, 190, 237, 1);
    --color-highkey-tertiary-gray: rgba(188, 188, 204, 1);
    // Neutral
    --color-neutral-dark-mode-01: rgba(4, 5, 6, 1);
    --color-neutral-dark-mode-02: rgba(14, 18, 22, 1);
    --color-neutral-dark-mode-03: rgba(26, 33, 40, 1);
    --color-neutral-dark-mode-04: rgba(48, 60, 74, 1);
    --color-neutral-dark-mode-05: rgba(178, 191, 205, 1);
    --color-neutral-dark-mode-06: rgba(249, 250, 251, 1);
    --color-neutral-light-mode-01: rgba(241, 226, 198, 1);
    --color-neutral-light-mode-02: rgba(245, 235, 214, 1);
    --color-neutral-light-mode-03: rgba(249, 243, 231, 1);
    --color-neutral-light-mode-04: rgba(252, 249, 243, 1);
    --color-neutral-light-mode-05: rgba(133, 133, 133, 1);
    --color-neutral-light-mode-045: #5F5E5C;
    // Header dropdown
    --navigation-dropdown-background: var(--color-neutral-dark-mode-05);
    // background transition 
    --color-transition: 0.2s ease;
    // accents
    --accent-blue: var(--color-analog-secondary-blue);
    --accent-turquoise: var(--color-analog-secondary-turquoise);
    --accent-green: var(--color-analog-secondary-green);
    --accent-yellow: var(--color-analog-secondary-yellow);
    --accent-cream: var(--color-analog-secondary-cream);
    --accent-orange: var(--color-analog-secondary-orange);
    --accent-red: var(--color-analog-secondary-red);
    --accent-purple: var(--color-analog-secondary-purple);
    --accent-gray: var(--color-analog-secondary-gray);
    // accents media
    --accent-Podcast: var(--accent-turquoise);
    --accent-Article: var(--accent-yellow);
    --accent-Video: var(--accent-purple);
    // accents contributors
    --accent-Validator: var(--accent-blue);
    --accent-Developer: var(--accent-red);
    --accent-Fund: var(--accent-orange);
    --accent-Wallet: var(--accent-purple);
    // accents committees
    --accent-devs: var(--color-analog-tertiary-orange);
    --accent-education: var(--color-analog-tertiary-green);
    --accent-awareness: var(--color-analog-tertiary-purple);
    --accent-puzzle: var(--color-analog-tertiary-blue);
    --accent-governance: var(--color-analog-tertiary-red);
    --accent-website: var(--color-analog-tertiary-turquoise);
}

@keyframes color-change {
    0% { color: var(--accent-blue); }
    10% { color: var(--accent-turquoise); }
    20% { color: var(--accent-green); }
    30% { color: var(--accent-yellow); }
    40% { color: var(--accent-cream); }
    50% { color: var(--accent-orange); }
    60% { color: var(--color-analog-tertiary-red); }
    70% { color: var(--accent-purple); }
    80% { color: var(--accent-green); }
    90% { color: var(--color-highkey-tertiary-orange); }
    100% { color: var(--accent-yellow); }
}

@keyframes fill-change {
    0% { fill: var(--accent-blue); }
    10% { fill: var(--accent-turquoise); }
    20% { fill: var(--accent-green); }
    30% { fill: var(--accent-yellow); }
    40% { fill: var(--accent-cream); }
    50% { fill: var(--accent-orange); }
    60% { fill: var(--color-analog-tertiary-red); }
    70% { fill: var(--accent-purple); }
    80% { fill: var(--accent-green); }
    90% { fill: var(--color-highkey-tertiary-orange); }
    100% { fill: var(--accent-yellow); }
}

@keyframes bg-change {
    0% { background: var(--accent-blue); }
    10% { background: var(--accent-turquoise); }
    20% { background: var(--accent-green); }
    30% { background: var(--accent-yellow); }
    40% { background: var(--accent-cream); }
    50% { background: var(--accent-orange); }
    60% { background: var(--color-analog-tertiary-red); }
    70% { background: var(--accent-purple); }
    80% { background: var(--accent-green); }
    90% { background: var(--color-highkey-tertiary-orange); }
    100% { background: var(--accent-yellow); }
}
