@import "~@lkmx/flare/src/flare";
@import "themes";
@import "text";
@import "functions/theme";
@import "color";
@import "icon-font";
:root {
    --f-header-text-color: white;
    --f-header-background-color: var(--theme-bg);
    --f-text-selection-color: var(--color-analog-tertiary-purple);
}

body {
    &.modal-open {
        position: fixed;
    }
}

main {
    margin-top: 68px;
    padding-top: var(--f-gutter-xxl);
}

ul {
    li {
        padding: 0;
    }
}

strong {
    font-weight: 600;
}

button,
.button {
    border-radius: var(--f-gutter-s);
    background-color: var(--theme-button);
    &.theme {
        background-color: transparent;
    }
}

a {
    color: var(--theme-links-default);
    text-decoration: none;
    &:hover {
        color: var(--theme-links-hover);
    }
    &:visited {
        color: var(--theme-links-default);
        &:hover {
            color: var(--theme-links-hover)
        }
    }
}

p {
    color: var(--theme-fg);
}

input:not(.button) {
    border-radius: var(--f-gutter-s);
    padding: var(--f-gutter-xs) var(--f-gutter);
    @include theme(dark dark-colored) {
        background: rgba(white, 0.1);
        border-color: rgba(white, 0.1);
        color: var(--color-analog-primary-white);
    }
    @include theme(light light-colored) {
        background: rgba(black, 0.1);
        border-color: rgba(black, 0.1);
        color: var(--color-neutral-light-mode-045);
    }
}