@import "@lkmx/flare/src/functions/_respond-to.scss";




.about-about-secret-network-v2 {
    --about-color-orange: var(--color-analog-secondary-orange);
  
    .swirl-wrapper {
    opacity: 0;
    display: none;
  }

  & h4{

    
      @include respond-to("<=s"){
          font-size: var(--f-h5-text-size);
      }
  }

  & h2{
    @include respond-to("<=s"){
        font-size: 36px;
        line-height: 46px;
    }
  }
}

.page__cover{
    background: url("../../src/assets/home/new-home-hero-bg.png") ;
    background-size: cover ;
    background-position: center;
    background-repeat: no-repeat;
}

.page{

    &__bg{
        &__black{
        background-color: var(--color-neutral-dark-mode-01);
        }

        &__dark{
            background-color: var(--color-neutral-dark-mode-02);
        }
    }

    &__block{
        @include respond-to("<=m"){
            padding:  var(--f-gutter-l);
          }
        
        &__size{
            max-width: 800px;
            padding: 16px;
            margin: auto;

            

            & p{
                text-align: left;
            }
        }
    }

    &__text{

        &-align{
            text-align: center;
        }

        &-big{
            font-size: var(--paragraph-font-size-big);
            line-height: var(--paragraph-line-height-big);
        }

        &-xbig{
            font-size: 26px;  
            line-height: 39px; 
            
            @include respond-to("<=s"){
                font-size: var(--paragraph-font-size-big);
            line-height: var(--paragraph-line-height-big);
            }
        }
        
        
        
    }
    
    
}

.big-title{    
    font-size: 74px;
    font-family: var(--f-default-headers-font);
    line-height: 80px;
    font-weight: 600;

    @include respond-to("<=s"){
        font-size: 54px;
        line-height: 64px;
      }
      
      @include respond-to("<=xs"){
        font-size: 42px;
        line-height: 52px;
      }
}