@import "@lkmx/flare/src/functions/_respond-to.scss";


.about-about-secret-network-v2 {

  .swirl-wrapper {
    opacity: 0;
    display: none;
  }
}

.page__cover{
    background: url("../../src/assets/home/new-home-hero-bg.png") ;
    background-size: cover ;
    background-position: center;
    background-repeat: no-repeat;
}

.page{

    &__bg{
        &__black{
        background-color: var(--color-neutral-dark-mode-01);
        }
    }

    &__block{
        @include respond-to("<=m"){
            padding:  var(--f-gutter-l);
          }
        
        &__size{
            max-width: 800px;
            padding: 16px;
            margin: auto;

            

            & p{
                text-align: left;
            }
        }
    }

    &__text{

        &-align{
            text-align: center;
        }

        &-big{
            font-size: var(--paragraph-font-size-big);
            line-height: var(--paragraph-line-height-big);
        }

        &-xbig{
            font-size: 26px;  
            line-height: 36px; 
            
            @include respond-to("<=s"){
                font-size: var(--paragraph-font-size-big);
            line-height: var(--paragraph-line-height-big);
            }
        }
        
        
        
    }
    
    
}

.big-title{    
    font-size: var(--h1-text-size-hero);

    @include respond-to("<=s"){
        font-size: var(--f-h2-text-size);
        line-height: 54px;
      }
}