

.austin-event {
    --austin-event-color-accent-01: var(--color-analog-secondary-red);

    .swirl-wrapper, .swirl-wrapper-bottom{
        display: none;
    }

    & .event-cover{

        background-image: linear-gradient(rgba(21, 26, 32, 0.82), rgba(21, 26, 32, 0.82)), 
                            url("../../src/assets/events/austin-event.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    & .dark-bg{
        background-color: var(--color-neutral-dark-mode-02);
        
    }



}

