.get-involved-become-secret-agent {
  //component hero
  .secret-agent-hero {
    margin-top: 48px;
    @include respond-to("<=m") {
      margin-top: 11px;
    }
    &__container {
      grid-template-columns: 1fr 521px;
      gap: 29px;
      @include respond-to("<=m") {
        gap: 40px;
        grid-template-columns: 1fr 1fr;
        // grid-auto-flow: row;
      }
      @include respond-to("<=s") {
        gap: 40px;
        grid-template-columns: 1fr;
      }
      &--left {
        padding-left: 20px;
        @include respond-to("<=m") {
          padding-left: 0;
        }
        h2 {
          line-height: 1.2;
          letter-spacing: -0.2px;
          font-family: var(--f-default-headers-font);
          font-weight: 700;
          @include respond-to("<=m") {
            font-size: 28px;
            line-height: 32px;       
            letter-spacing: -0.3px;
          }
        }
        p {
          max-width: 529px;
        }
        .secret-agent-form {
          max-width: 588px;
          height: 50px;
          @include respond-to("<=m") {
            max-width: 100%;
            min-height: 50px;
            height: auto;
            padding-top: 5px;
            gap: 12px;
          }
          input,
          button {
            border-radius: 5px;
            @include respond-to("<=m") {
             width: 100% !important;       
             height: 50px;
            }
          }
          button {
           @include respond-to("<=m") {
            height: 50px;       
           }
           @include respond-to("<=s") {
            height: 42px;       
           }
          }
        }
      }
      &--right {
        padding-right: 20px;
        @include respond-to("<=m") {
          padding-right: 0;
        }
        video {
          // transform: translateY(-24px);
          max-width: 502px !important;
          // FIXME this line provokes a conflict with SAFARI 🔥
          // height: 100% !important; 🔥
          min-height: 334px; 
          object-fit: fill;
          @include respond-to("<=m") {
            min-height: 235px;
          }
        }
      }
    }
  }
  // component conten-columns
  .content-columns {
    p {
      font-size: 19px;
      line-height: 24px;
      margin-bottom: 24px;
    }
    h3 {
      @include respond-to("<=m") {
       text-align: left;       
       font-size: 22px;
       line-height: 28px;
      }
    }
    img {
      @include respond-to("<=m") {
       max-height: 190px;       
      }
    }
    &__container {
      @include respond-to("<=m") {
       gap: 8px;       
      }
    }
    &__container--right {
      @include respond-to("<=m") {
        order: -1;       
        gap: 4px;
      }
    }
  }
  // frames
  &__hero {
    margin-bottom: 115px;
    @include respond-to("<=m") {
      margin-bottom: 0px;
    }
  }
  &__briefing {
    margin-bottom: 123px;
    @include respond-to("<=m") {
      margin-bottom: 35px;
    }
    img {
      transform: translate(-8px, -9px);
    }
  }
  &__mission {
    margin-bottom: 138px;
    @include respond-to("<=m") {
      margin-bottom: 33px;
    }
    img {
      transform: translate(8px, -9px);
    }
  }
  &__rise {
    margin-bottom: 100px;
    @include respond-to("<=m") {
      margin-bottom: 10px;
    }
    img {
      transform: translate(-8px, -24px);
    }
  }
  &__access {
    margin-bottom: 109px;
    @include respond-to("<=m") {
      margin-bottom: 33px;
    }
    img {
      transform: translate(9px, -11px);
    }
  }
  &__earn {
    margin-bottom: 45px;
    @include respond-to("<=m") {
      margin-bottom: 0;
    }
    img {
      transform: translate(-8px, -12px);
    }
  }
  &__join-mission {
    margin-bottom: 94px;
    @include respond-to("<=m") {
      margin-bottom: 104px;
    }
    
    .content {
      .box {
        padding: 0;
        @include respond-to("<=m") {
          padding: 32px;
        }
        @include respond-to("<=s") {
          padding: 16px;
        }
        .secret-agent-email-banner {
          &__container {
            grid-template-columns: 1fr 600px;
            @include respond-to("<=m") {
              grid-template-columns: 1fr;
              grid-auto-flow: row;
              padding-top: 10px;
              padding-bottom: 10px;
              gap: 15px;
            }
            h2 {
              letter-spacing: 0.5px;
            }
            &--right {
              padding-right: 13px;
              @include respond-to("<=m") {
                padding-right: 0;
              }
              form {
                min-height: 50px;
                grid-template-columns: 1fr 145px;
                align-items: center;
                @include respond-to("<=m") {
                  grid-template-columns: 1fr;
                  gap: 16px;
                }
                gap: 15px;
                input,
                button {
                  border-radius: 5px;
                  @include respond-to(">=m") {
                   height: 50px;       
                  }
                }
                button {
                  margin: 0;
                  @include respond-to(">=m") {
                   height: 50px;       
                  }
                  @include respond-to("<=s") {
                    height: 42px;       
                   }
                }
              }
            }
          }
        }
      }
    }
  }
  &__brochure {
    gap: 40px;
    .content {
      .box {
        padding: 0;
        @include respond-to("<=m") {
          padding-left: 16px;
          padding-right: 16px;
        }
      }
    }
    .content-switcher {
      @include respond-to("<=m") {
       margin-bottom: 0;
      }
      &__sidebar {
        gap: 47px;
        align-items: start;
        @include respond-to("<=m") {
          gap: 10px;
          padding: 0 15px;
        }
        h3 {
          @include respond-to("<=m") {
            font-size: 24px;       
           }
        }
      }
      &__content {
        grid-template-columns: 390px 1fr;
        @include respond-to("<=m") {
          grid-template-columns: 1fr;
          gap: 0;
        }
        gap: 83px;
        &__image {
          position: relative;
          @include respond-to("<=m") {
            height: 169px;       
          }
          img {
            transform: scale(1.16) translate(40px, 5px);
            @include respond-to("<=m") {
              transform: scale(0.55) translate(0, -84px);
            }
          }
        }
        &__message {
          padding-top: 30px;
          h4 {
            font-size: 28px;
            margin-bottom: 20px;
            @include respond-to("<=m") {
              font-size: 18px;
              margin-bottom: 5px;
            }
          }
          p {
            font-size: 18px;
            @include respond-to("<=m") {
              font-size: 16px;
              text-align: center;
            }
          }
        }
      }
    }
    h3 {
      font-size: 36px;
    }
  }
}
