.ecosystem-pages {
  &__learn-more {
    // padding-top: 61px;
    padding-bottom: 61px;
    .content {
      .box {
        display: grid;
        gap: 25px;
        align-items: center;
        text-align: center;
        justify-content: center;
        justify-items: center;
        p {
          max-width: 668px;
        }
        .btn {
          &.no-bg {
            background: transparent;
          }
        }
        *{margin: 0;}
      }
    }
    * {
      margin: 0;
    }
  }
  &__roadmap {
    padding-top: 61px;
    padding-bottom: 61px;
    background: var(--color-black);
    .content {
      .box {
        display: grid;
        align-items: center;
        *{margin: 0;}
        h2 {
          font-size: 36px;
          line-height: 40px;
        }
        .btn {
          width: 300px;
        }
      }
    }
    * {
      margin: 0;
    }
  }
  &__action {
    .content {
      .box {
        display: grid;
        justify-content: end;
      }
    }
  }
  &__two-columns {
    padding-top: 76px;
    padding-bottom: 76px;
    .content {
      .box {
        display: grid;
        align-items: center;
        align-content: center;
        gap: var(--f-gutter);
        p {
          max-width: 610px;
        }
        * {
          margin: 0;
        }
      }
    }
    img {
      height: 255px;
    }
    &__img {
      .content {
        .box {
          display: grid;
          // justify-content: end;
        }
      }
    }
  }
}
