@import "@lkmx/flare/src/functions/respond-to";


.ecosystem-tools,
.ecosystem-dapps,
.ecosystem-contributors,
.ecosystem-partners,
.ecosystem-validators,
.ecosystem-nfts{
    overflow: hidden;
    
    & .swirl-wrapper,
    & .swirl-wrapper-bottom{
        display: none;
    }

    & .simple-footer{
        margin-top: 0;
    }

    & .bg-dark{
        background-color: var(--color-neutral-dark-mode-02);
        padding: 64px 0;
    }

    & .view-roadmap{
        h3{
            font-size: 36px ;
            line-height: 48px;
        }

        &-btn{
           
            & .content{

                & .box{
                    text-align: end;     
                }
            }
        }

        @include respond-to("<=m"){
            padding: var(--f-gutter-xl);
        }
        
        @include respond-to("<=s"){
            padding: var(--f-gutter-l);
            font-size: 28px;
            line-height: 40px;
        }
    }
}

.ecosystem{

    &__green-swirl__top{
        //background-image: url("../../src/assets/swirl-green-top.svg");
        // background-repeat: no-repeat;
        // background-position: bottom;
        // background-size: cover;
         height: 230px;
        position: relative;
        padding: 0;

        & .content{
            
            & .box{
                

                & img{
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    width: 100%;
                    z-index: -100;
                    overflow: hidden;

                    @include respond-to("<=m"){
                        display: none;
                    }
                }
        
            }
                
        }

        @include respond-to(">=xxl"){
            top: -40px;
        }

        @include respond-to("<=l"){
            height: 200px;
            top: 0px;
        }

        @include respond-to("<=m"){
            height: 180px;
            background-image: url("../../src/assets/swirl-green-top.svg");
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: cover;
        }
        @include respond-to("<=s"){
            height: 140px;
            
        }
        @include respond-to("<=s"){
            //height: 100px;
            position: relative;
        }
    }


    &__green-swirl__bottom{
        //background-image: url("../../src/assets/swirl-green-top.svg");
        // background-repeat: no-repeat;
        // background-position: bottom;
        // background-size: cover;
        height: 230px;
        position: relative;
        padding: 0;

        & .content{
            
            & .box{
                

                & img{
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    width: 100%;
                    z-index: -100;
                    overflow: hidden;

                    @include respond-to("<=m"){
                        display: none;
                    }
                }
        
            }
                
        }

        @include respond-to(">=xxl"){
            top: 0px;
        }

        @include respond-to("<=l"){
            height: 200px;
            top: 0px;
        }

        @include respond-to("<=m"){
            height: 180px;
            background-image: url("../../src/assets/swirl-green-bottom.svg");
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: cover;
        }
        @include respond-to("<=s"){
            height: 140px;
            
        }
        @include respond-to("<=s"){
            //height: 100px;
            position: relative;
        }
    }
}



