@import "@lkmx/flare/src/functions/_respond-to.scss";

.space-top{
    padding-top: 92px;
}

.simple-layout {
  &.about-get-scrt,
  &.about-get-scrt-v2 {
    & h5 {
        color: var(--color-analog-secondary-orange);
        margin-bottom: 0;
        font-size: 16px;
    }

    .swirl-wrapper {
      opacity: 0;
      display: none;
    }
  }
}


.get-scrt{


    

    &__cover{
        background: url("/img/home/new-home-hero-bg.png") ;
        background-size: cover ;
        background-position: center;
        background-repeat: no-repeat;
    }

    &__bg-black{
        background-color: var(--color-neutral-dark-mode-02);
        padding: 26px 0;

        @include respond-to("<=m"){
            padding: 26px var(--f-gutter-l);
        }
    }

    &__price-box{
        background: url("/img/get-scrt/get-scrt-brown-bubble.png") ;
        background-size: contain ;
        background-position: center;
        background-repeat: no-repeat;

    }

    &__align-img{
        margin: auto;
    }

    &__block-align{
        display: flex;
        align-items: center;
        
        

        @include respond-to("<=m"){
            justify-content: center;
        }

        & h3{
            & img{
                margin: 0;
            }
        }
    }

    &__text-block{ 
        text-align: center;
        justify-content: center;
        max-width: 800px;
        margin: auto;
        padding: var(--f-gutter-xxl) var(--f-gutter);

        & h3{
            justify-content: center;
        }

        
    }

    &__privacy {
        display: grid;
        justify-content: center;
        &__text-box { 
            display: grid;
            grid-template-columns: auto 1fr;
            gap: var(--f-gutter-s);
            align-items: center;
            width: fit-content;
            padding: var(--f-gutter) 32px;
            border-radius: var(--f-gutter-s);
            border: 1px solid var(--color-neutral-dark-mode-04);
    
            &__p {
                margin-bottom: 0;

                a {
                    color: var(--color-newBrand-blue-02);
                    text-decoration: underline;
                    &:hover {
                        color: var(--color-newBrand-blue-01);
                    }
                }
            }
        }
    }

    

    &__p{
        font-size: var(--paragraph-font-size-big);
        line-height: var(--paragraph-line-height-big);

        &-left{
            text-align: left;
            font-size: var(--paragraph-font-size-big);
        line-height: var(--paragraph-line-height-big);
        }
       
    }
    
    &__p-small{
        text-align: center;
        
    }
}



.h3-scrt-logo{
    display: flex;
    //justify-content: center;
    align-items: center;

    & img{
        margin-left: 10px;
        margin-right: 5px;
        height: 32px;
        width: 32px;
    }
}


