@import "@lkmx/flare/src/functions/_respond-to.scss";

.space-top{
    padding-top: 92px;
}

.simple-layout {
  &.about-get-scrt {
    & h5 {
        color: var(--color-analog-tertiary-yellow);
        margin-bottom: 0;
        font-size: 16px;
    }

    .swirl-wrapper {
      opacity: 0;
      display: none;
    }
  }
}


.get-scrt{

    & .content{

        & .box {
           
        }
    }
    

    &__cover{
        background: url("../../src/assets/home/new-home-hero-bg.png") ;
        background-size: cover ;
        background-position: center;
        background-repeat: no-repeat;
    }

    &__price-box{
        background: url("../../src/assets/get-scrt/get-scrt-yellow-bubble.png") ;
        background-size: contain ;
        background-position: center;
        background-repeat: no-repeat;

    }

    &__text-block{ 
        text-align: center;
        max-width: 800px;
        margin: auto;
        padding: var(--f-gutter-xxl) var(--f-gutter);
    }

    &__privacy {
        display: grid;
        justify-content: center;
        &__text-box { 
            display: grid;
            grid-template-columns: auto 1fr;
            gap: var(--f-gutter-s);
            align-items: center;
            width: fit-content;
            padding: var(--f-gutter) 32px;
            border-radius: var(--f-gutter-s);
            border: 1px solid var(--color-neutral-dark-mode-04);
    
            &__p {
                margin-bottom: 0;

                a {
                    color: var(--color-neutral-dark-mode-04);
                    text-decoration: underline;
                }
            }
        }
    }

    

    &__p{
        font-size: var(--paragraph-font-size-big);
        line-height: var(--paragraph-line-height-big);
       
    }
    
    &__p-small{
        text-align: center;
        
    }
}