.new-home{
   
    
    &__bg{
        //background-color: var(--color-neutral-dark-mode-01);
        background-image: url("../../src/assets/home-hero-swirlbg.png") ;
        background-size: cover ;
        background-position: center;
        



    }
}