
@import "@lkmx/flare/src/functions/_respond-to.scss";

.space-top{
    padding-top: 92px;
}

.simple-layout {
  &.index-v2 {
    .swirl-wrapper {
      opacity: 0;
      display: none;
    }
  }
}


.new-home{
   
    
    &__cover{
        //background-color: var(--color-neutral-dark-mode-01);
        background-image: url("../../src/assets/home-hero-swirlbg.png") ;
        background-size: cover ;
        background-position: center;
        background-position: top;
    }

    &__bg {
        background-color: var(--color-neutral-dark-mode-02);

        &__top{
            background-image: url("../../src/assets/home/wave-border-top.png") ;
            background-repeat: no-repeat;
            background-size: cover;
        }

        &__bottom{
            background-image: url("../../src/assets/home/wave-border-bottom.png") ;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: bottom;
            padding-bottom: 114px;
        }
    }

    &__block-header{
        
        & h5{
            color: var(--color-neutral-dark-mode-05);
        }

    
    }
}