@import "config/_colors.scss";
@import "config/_maps.scss";
@import "config/_mixins.scss";
@import "config/_functions.scss";
@import "@lkmx/flare/src/functions/respond-to";
@import 'prism';

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.7;
  transition: background .15s ease-in-out, color .15s ease-in-out;

  &::before {
    display: none;
    visibility: hidden;
    content: 'small';

    @include respond-above(sm) {
      content: 'large'
    }
  }

  &.bright {
    background: $backgroundBright;
    color: $textBright;
  }

  &.dark {
    background: $backgroundDark;
    color: $textDark;
  }
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
  line-height: 1.2;
}

h1 {
  margin-top: 0;

  @include respond-above(md) {
    font-size: 4rem;
  }
}

.site a {
  color: $brandPrimary;
}

@include respond-to("<=m") {
  .main{
    h1{
      font-size: var(--f-h2-text-size);
    }
    h2{
      font-size: var(--f-h3-text-size);
    }
    h3{
      font-size: var(--f-h4-text-size);
    }
    h4{
      font-size: var(--f-h5-text-size);
    } 
    h5{
      font-size: var(--f-h6-text-size);
    } 
  }
}