$accent-colors: (
  "blue",
  "turquoise",
  "green",
  "yellow",
  "cream",
  "orange",
  "red",
  "purple",
  "gray"
);

.announcement {
  .--flare-block {
    background: var(--theme-card-bg-variant);

    .content {
      .box {
        padding: var(--f-gutter-xxl) var(--f-gutter-xl) var(--f-gutter-xxl)
          var(--f-gutter);

        @include respond-to("<=m") {
          padding: var(--f-gutter);
        }

        h3 {
          margin-bottom: var(--f-gutter-l);
        }

        h4 {
          margin-bottom: var(--f-gutter-s);
          color: var(--theme-fg);
        }

        .btn {
          margin-bottom: var(--f-gutter);
        }
      }
    }
  }

  @each $name, $color in $accent-colors {
    &.accent-#{$name} {
      h3 {
        color: var(--accent-#{$name});
      }
    }
  }
}
